[Unit]
Description=KinetiQ Motion Autohotspot periodic check
After=autohotspot.service

[Timer]
OnBootSec=60
OnUnitActiveSec=60
AccuracySec=10

[Install]
WantedBy=timers.target
